h1 {
	text-align: center;
}

.container {
	margin: auto;
	max-width: 500px;
	padding: 20px;
}

.period {
	margin-bottom: 10px;
}

label {
	display: inline-block;
	width: 100px;
}

input[type="text"] {
	width: 250px;
}

button {
	display: block;
	margin: 20px auto;
}

#homework {
	margin-top: 20px;
	font-size: 18px;
	text-align: center;
}
